{{- if .Values.vector.enabled }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: node-reader
  labels:
    app.kubernetes.io/name: {{ include "vector.name" .Subcharts.vector }}
    app.kubernetes.io/instance: {{ .Release.Name }}
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: node-reader-binding
  labels:
    app.kubernetes.io/name: {{ include "vector.name" .Subcharts.vector }}
    app.kubernetes.io/instance: {{ .Release.Name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: node-reader
subjects:
  - kind: ServiceAccount
    name: {{ include "vector.serviceAccountName" .Subcharts.vector }}
    namespace: {{ .Values.namespace }}
{{- end }}
