apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-reloader-config
  namespace: crusoe-system
data:
  config.yaml: |
    dcgm_metrics:
      port: {{ .Values.metricsExporter.defaultDcgmExporterPort }}
      path: {{ .Values.metricsExporter.defaultMetricsPath }}
      scrape_interval: {{ .Values.metricsExporter.defaultScrapeInterval }}
    custom_metrics:
      port: {{ .Values.metricsExporter.defaultMetricsPort }}
      path: {{ .Values.metricsExporter.defaultMetricsPath }}
      scrape_interval: {{ .Values.metricsExporter.defaultScrapeInterval }}
    sink:
      endpoint: {{ index .Values.endpoints .Values.environment | quote }}
{{- if .Values.proxy.enabled }}
      proxy:
        enabled: {{ .Values.proxy.enabled }}
        http: "http://{{ .Values.proxy.url }}:{{ .Values.proxy.port }}"
        https: "http://{{ .Values.proxy.url }}:{{ .Values.proxy.port }}"
{{- end }}
    log_level: {{ .Values.logLevel }}
