[Unit]
Description=crusoe-watch: vector.dev based telemetry agent for crusoe cloud
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
WorkingDirectory=/etc/crusoe/crusoe_watch_agent
ExecStart=/usr/bin/docker compose -f /etc/crusoe/crusoe_watch_agent/docker-compose-vector.yaml up
ExecStop=/usr/bin/docker compose -f /etc/crusoe/crusoe_watch_agent/docker-compose-vector.yaml down

[Install]
WantedBy=multi-user.target