sources:
    host_metrics:
        type: host_metrics
        collectors:
            - cpu
            - disk
            - memory
            - network
            - process
        network:
          devices:
            excludes:
              - "lo*"
            includes:
              - "ens*"
        process:
          processes:
            includes:
              - "vector"
        scrape_interval_secs: 60

    internal_metrics:
        type: internal_metrics
        scrape_interval_secs: 60

    journald_logs:
        type: journald
        journal_directory: /var/log/journal


transforms:
    enrich_logs:
        type: remap
        inputs:
            - journald_logs
        source: |
            .agent = "crusoe-watch-agent"
            .host = get_hostname!()
            if .source_type == "journald" {
                .log_source = "journald"
                if .PRIORITY == "0" || .PRIORITY == "1" {
                    .level = "error"
                } else if .PRIORITY == "2" || .PRIORITY == "3" {
                    .level = "critical"
                } else if .PRIORITY == "4" || .PRIORITY == "5" {
                    .level = "warning"
                } else if .PRIORITY == "6" {
                    .level = "info"
                } else if .PRIORITY == "7" {
                    .level = "debug"
                } else {
                    .level = "undefined"
                }

                parsed, err = parse_key_value(string!(.message))
                if err == null {
                    .log = parsed
                    if exists(parsed.msg) {
                        ._msg = string!(parsed.msg)
                        del(.message)
                    } else {
                        ._msg = del(.message)
                    }
                }
            }
            del(.source_type)
            if exists(.__REALTIME_TIMESTAMP) {
                ._time = .__REALTIME_TIMESTAMP
            } else if exists(.timestamp) {
                ._time = .timestamp
            }
            if !exists(._msg) {
                if exists(.message) {
                    ._msg = del(.message)
                }
            }
            if exists(.level) {
                .level = downcase(string!(.level))
            } else {
                .level = "undefined"
            }

    add_update_labels:
        type: remap
        inputs:
            - host_metrics
        source: |
            del(.tags.Hostname)
            .tags.vm_id = "${VM_ID}"
            .tags.crusoe_resource = "vm"

    filter_internal_metrics:
        type: filter
        inputs:
            - internal_metrics
        condition: |
            includes(
                [
                  "buffer_byte_size",
                  "buffer_discarded_events_total",
                  "buffer_events",
                  "buffer_received_events_total",
                  "buffer_sent_events_total",
                  "build_info",
                  "component_discarded_events_total",
                  "component_errors_total",
                  "component_received_events_total",
                  "component_sent_events_total",
                  "config_reloaded",
                  "connection_established_total",
                  "connection_send_errors_total",
                  "http_client_requests_sent_total",
                  "http_client_responses_total",
                  "internal_metrics_cardinality",
                  "open_connections",
                  "open_files",
                  "uptime_seconds",
              ],
                .name,
            )

    add_internal_labels:
        type: remap
        inputs:
            - filter_internal_metrics
        source: |
            .tags.vm_id = "${VM_ID}"
            .tags.crusoe_resource = "vm"
            .tags.agent_version = "${AGENT_VERSION}"

sinks:
    crusoe_ingest:
        type: http
        inputs:
            - enrich_logs
        uri: "${LOGS_INGRESS_ENDPOINT}"
        framing:
            method: newline_delimited
        compression: snappy
        healthcheck:
            enabled: false
        request:
            headers:
                X-Crusoe-Vm-Id: "${VM_ID}"
        auth:
            strategy: bearer
            token: "${CRUSOE_AUTH_TOKEN}"
        encoding:
            codec: json
        batch:
            max_bytes: 100000

    cms_gateway:
        type: prometheus_remote_write
        inputs:
            - add_update_labels
            - add_internal_labels
        endpoint: "${TELEMETRY_INGRESS_ENDPOINT}"
        tenant_id: "cri:vm/${VM_ID}"
        auth:
            strategy: bearer
            token: "${CRUSOE_AUTH_TOKEN}"
        healthcheck:
            enabled: false
        request:
          concurrency: adaptive
        batch:
          max_bytes: 500000 # ~500KB
        compression: snappy
        tls:
            verify_certificate: true
            verify_hostname: true