sources:
    host_metrics:
        type: host_metrics
        collectors:
            - cpu
            - disk
            - memory
            - network
        network:
          devices:
            excludes:
              - "lo*"
            includes:
              - "ens*"
        scrape_interval_secs: 60

    amd_metrics:
        type: prometheus_scrape
        endpoints:
            - http://localhost:${AMD_EXPORTER_PORT}/metrics
        scrape_interval_secs: 60
        scrape_timeout_secs: 50

    internal_metrics:
      type: internal_metrics
      scrape_interval_secs: 60

transforms:
    add_update_labels:
        type: remap
        inputs:
            - host_metrics
            - amd_metrics
        source: |
            del(.tags.Hostname)
            .tags.vm_id = "${VM_ID}"
            .tags.crusoe_resource = "vm"

    filter_internal_metrics:
        type: filter
        inputs:
            - internal_metrics
        condition: |
            includes(
                [
                    "buffer_byte_size",
                    "buffer_discarded_events_total",
                    "buffer_events",
                    "buffer_received_events_total",
                    "buffer_send_duration_seconds",
                    "buffer_sent_events_total",
                    "build_info",
                    "collect_completed_total",
                    "collect_duration_seconds",
                    "component_discarded_events_total",
                    "component_errors_total",
                    "component_received_events_total",
                    "component_sent_events_total",
                    "config_reload_rejected",
                    "config_reloaded",
                    "connection_established_total",
                    "connection_send_errors_total",
                    "http_client_requests_sent_total",
                    "http_client_response_rtt_seconds",
                    "http_client_responses_total",
                    "http_client_rtt_seconds",
                    "internal_metrics_cardinality",
                    "open_connections",
                    "open_files",
                    "source_lag_time_seconds",
                    "uptime_seconds",
                ],
                .name,
            )

    add_internal_labels:
        type: remap
        inputs:
          - filter_internal_metrics
        source: |
          .tags.vm_id = "${VM_ID}"
          .tags.crusoe_resource = "vm"
          .tags.agent_version = "${AGENT_VERSION}"

sinks:
    cms_gateway:
        type: prometheus_remote_write
        inputs:
            - add_update_labels
            - add_internal_labels
        endpoint: "${TELEMETRY_INGRESS_ENDPOINT}"
        tenant_id: "cri:vm/${VM_ID}"
        auth:
            strategy: bearer
            token: "${CRUSOE_AUTH_TOKEN}"
        healthcheck:
            enabled: false
        request:
          concurrency: adaptive
        batch:
          max_bytes: 500000 # ~500KB
        compression: snappy
        tls:
            verify_certificate: true
            verify_hostname: true
