sources:
    host_metrics:
        type: host_metrics
        collectors:
            - cpu
            - disk
            - memory
            - network
            - process
        network:
          devices:
            excludes:
              - "lo*"
            includes:
              - "ens*"
        process:
          processes:
            includes:
              - "vector"
        scrape_interval_secs: 60

    internal_metrics:
        type: internal_metrics
        scrape_interval_secs: 60

    journald_logs:
        type: journald
        journal_directory: /var/log/journal

    dmesg_logs:
        type: exec
        mode: streaming
        command:
            - cat
            - /dev/kmsg

transforms:
    enrich_logs:
        type: remap
        inputs:
            - journald_logs
            - dmesg_logs
        source: |
            .agent = "crusoe-watch-agent"
            .host = get_hostname!()
            if .source_type == "journald" {
                .log_source = "journald"
                if .PRIORITY == "0" || .PRIORITY == "1" {
                    .level = "error"
                } else if .PRIORITY == "2" || .PRIORITY == "3" {
                    .level = "critical"
                } else if .PRIORITY == "4" || .PRIORITY == "5" {
                    .level = "warning"
                } else if .PRIORITY == "6" {
                    .level = "info"
                } else if .PRIORITY == "7" {
                    .level = "debug"
                } else {
                    .level = "undefined"
                }
            } else if .source_type == "exec" {
                .log_source = "dmesg"
                msg_str = string!(.message)
                metadata_parts = split(msg_str, ",", limit: 2)
                priority = to_int(get(metadata_parts, [0]) ?? "-1") ?? -1
                if priority == 0 || priority == 1 {
                    .level = "error"
                } else if priority == 2 || priority == 3 {
                    .level = "critical"
                } else if priority == 4 || priority == 5 {
                    .level = "warning"
                } else if priority == 6 {
                    .level = "info"
                } else if priority == 7 {
                    .level = "debug"
                } else {
                    .level = "undefined"
                }
                msg_parts = split(msg_str, ";", limit: 2)
                if length(msg_parts) > 1 {
                    .message = get(msg_parts, [1]) ?? msg_str
                }
            }
            del(.source_type)
            if exists(.__REALTIME_TIMESTAMP) {
                ._time = .__REALTIME_TIMESTAMP
            } else if exists(.timestamp) {
                ._time = .timestamp
            }
            if exists(.message) {
                ._msg = del(.message)
            }
            if exists(.level) {
                .level = downcase(string!(.level))
            } else {
                .level = "undefined"
            }

    add_update_labels:
        type: remap
        inputs:
            - host_metrics
        source: |
            del(.tags.Hostname)
            .tags.vm_id = "${VM_ID}"
            .tags.crusoe_resource = "vm"

    filter_internal_metrics:
        type: filter
        inputs:
            - internal_metrics
        condition: |
            includes(
                [
                    "vector_buffer_byte_size",
                    "vector_buffer_discarded_events_total",
                    "vector_buffer_events",
                    "vector_buffer_received_events_total",
                    "vector_buffer_send_duration_seconds",
                    "vector_buffer_sent_events_total",
                    "vector_build_info",
                    "vector_collect_completed_total",
                    "vector_collect_duration_seconds",
                    "vector_component_discarded_events_total",
                    "vector_component_errors_total",
                    "vector_component_received_events_total",
                    "vector_component_sent_events_total",
                    "vector_config_reload_rejected",
                    "vector_config_reloaded",
                    "vector_connection_established_total",
                    "vector_connection_send_errors_total",
                    "vector_http_client_requests_sent_total",
                    "vector_http_client_response_rtt_seconds",
                    "vector_http_client_responses_total",
                    "vector_http_client_rtt_seconds",
                    "vector_internal_metrics_cardinality",
                    "vector_open_connections",
                    "vector_open_files",
                    "vector_source_lag_time_seconds",
                    "vector_uptime_seconds",
                ],
                .name,
            )

    add_internal_labels:
        type: remap
        inputs:
            - filter_internal_metrics
        source: |
            .tags.vm_id = "${VM_ID}"
            .tags.crusoe_resource = "vm"
            .tags.agent_version = "${AGENT_VERSION}"

sinks:
    crusoe_ingest:
        type: http
        inputs:
            - enrich_logs
        uri: "${LOGS_INGRESS_ENDPOINT}"
        framing:
            method: newline_delimited
        compression: snappy
        healthcheck:
            enabled: false
        request:
            headers:
                X-Crusoe-Vm-Id: "${VM_ID}"
        auth:
            strategy: bearer
            token: "${CRUSOE_AUTH_TOKEN}"
        encoding:
            codec: json
        batch:
            max_bytes: 100000

    cms_gateway:
        type: prometheus_remote_write
        inputs:
            - add_update_labels
            - add_internal_labels
        endpoint: "${TELEMETRY_INGRESS_ENDPOINT}"
        tenant_id: "cri:vm/${VM_ID}"
        auth:
            strategy: bearer
            token: "${CRUSOE_AUTH_TOKEN}"
        healthcheck:
            enabled: false
        request:
          concurrency: adaptive
        batch:
          max_bytes: 500000 # ~500KB
        compression: snappy
        tls:
            verify_certificate: true
            verify_hostname: true