name: Monitoring Token Job CI

on:
  push:
    branches: ["main"]
    tags:
      - "v*"
    # Only run if changes occur under the monitoring-token/ path
    paths:
      - 'k8s/monitoring-token/**'
  pull_request:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract branch name
        id: vars
        run: echo "BRANCH_TAG=$(echo '${{ github.head_ref || github.ref_name }}' | tr '[:upper:]' '[:lower:]' | tr '/' '-')" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/token-job
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{version}},prefix=
          flavor: |
            latest=auto

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./k8s/monitoring-token
          file: ./k8s/monitoring-token/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}